extends layout

block content
  #content
  script(type='text/javascript').
    $(document).ready(function(){
      $('.carousel').carousel({ full_width: true });
    });
  script(src='/static/bundle.js')
