#about{
  margin-left: 10%;
  margin-right: 10%;
}

#title{
  margin-left: 10%;
}

#profile-space{
  height:500px;
  width:50%;
  border-style: solid;
  border-color: grey;
}

#profile-info{
  height:500px;
  width:50%;
  border-style: solid;
  border-color: grey;
}

.supply{
  padding-left: 20px;
}

.sitefont{
  font-family: 'Fredericka the Great', cursive;
}

.react-parallax-content {
  height: 500px;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
}


