#about{
  margin-left: 10%;
  margin-right: 10%;
}

#title{
  margin-left: 10%;
}

#profile-space{
  height:500px;
  width:50%;
  border-style: solid;
  border-color: grey;
}

#profile-info{
  height:500px;
  width:50%;
  border-style: solid;
  border-color: grey;
}

.dashboard-bg {
  background-image: url('../images/dashboardbg1.jpg');
  background-repeat: no-repeat;
  height: 350px;
}

.item-filter-div {
  background-color: #edefed;
}

/*.filter-div {
  position: fixed;
}*/

.center{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.supply{
  padding-left: 20px;
}

.sitefont{
  font-family: 'Fredericka the Great', cursive;
}

.react-parallax-content {
  height: 500px;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
}

.search-container {
  max-width: 950px;
  margin: auto;
  padding-right: 10px;
}
.search {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 75px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right;
}
.search:focus {
    width: 25em;
    text-decoration: black;
}

