#sidenav-overlay{
  position: static !important;
}

#about{
  margin-left: 10%;
  margin-right: 10%;
}

#title{
  margin-left: 10%;
}

#profile-space{
  height:500px;
  width:50%;
  border-style: solid;
  border-color: grey;
}

#profile-info{
  height:500px;
  width:50%;
  border-style: solid;
  border-color: grey;
}

.row.dashboard-bg {
  background: url('../images/dashboardbg1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 432px;
  margin-bottom: 0px;
}

.row.item-filter-div {
  background-color: #edefed;
  margin-bottom: 0px;
}

.row.col.item-list-div {
  position: relative;
  z-index: 1;
  padding-right: 0px;
  padding-left: 0px;
}

.dashboard-greeting {
  padding-top: 6%
}

.add-image-bt {
  position: relative;
  z-index: 1;
}

.center{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.supply{
  padding-left: 20px;
}

.form-pad {
  padding-left: 10px;
  padding-right: 10px;
}


.sitefonts {
  font-family: 'Playfair Display SC', serif
}

.sitefont{
  font-family: 'Playfair Display SC', serif;
  text-shadow: 2px 2px #000;
}

body {
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
}

.pagination.center {
  margin-top: 0px;
}

.search-container {
  max-width: 950px;
  margin: auto;
  padding-right: 10px;
}
.search {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 75px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right;
}
.search:focus {
    width: 21em;
    text-decoration: black;
}

.row.item-desc-bg {
  background-color: #edefed;
  padding-top: 70px;
  padding-bottom: 60px;
  margin-bottom: 0px;
}

nav {
  background-color: rgba(0,0,0,0.65) !important;
  position: fixed;
  z-index: +2;
}
.side-nav {
  position: fixed;
  z-index: +3;
}

a {
  cursor: pointer; 
}

.top {
  background-image: url('http://res.cloudinary.com/mydevpoint/image/upload/v1475279082/unigates_lssl3p.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-size: cover;
  position: relative;
  padding-top: 250px;
}
.toggle {
  position: relative;
  margin-top: 50%;
}
.info {
  height: 400px;
  width: 80%;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin-top: -20px;
}
.bigger {
  padding-top: 25%;
}
.bigger:hover {
  padding-top: 24%;
  font-size: 2.5em;
  line-height: 1.2em;
  transition: all .2s ease-in-out;
}
#space {
  padding-left: 20px;
  padding-right: 20px;
}

.toppad{
  padding-top: 100px;
}


.bck {
  background-image: url('https://static.pexels.com/photos/1486/wood-pattern-ground-parquet-floor.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

.user-info{
  text-shadow: 2px 2px #ad663b;
  color: white;
  font-size: 3vw;
}

.profile-text{
  color: white;
  text-shadow: 2px 2px #000;
}

.add-form{
  background-color: rgba(0,0,0,0.65) !important;
  z-index: +1;
  border-radius: 50px;
}

.bigger:hover {
  padding-top: 25%;
  font-size: 3em;
  line-height: 1.4em;
  transition: all .2s ease-in-out;
}
.bigtext {
  font-size: 10em;
}

.shadow {
  text-shadow: 6px 4px 4px #000;
}

.space {
  padding-left: 20px;
  padding-right: 20px;
}

.small-shadow {
  text-shadow: 2px 2px #000;
}
.slides {
  margin-bottom: 20px;
}

.page-footer.footer-div {
  margin-top: 0px;
}
